<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
     <uses-permission  android:name="android.permission.CALL_PHONE" />
     
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.it.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
        </activity>
        <activity android:name="com.it.ui.activity.GuidePageActivity"
            android:screenOrientation="portrait"
            >
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.it.ui.activity.LoginAcitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
         
        </activity>
        
        <activity android:name="com.it.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name="com.it.ui.activity.ForgotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name="com.it.ui.activity.InformationDetailsActivity"
              android:screenOrientation="portrait"
             ></activity>
           <activity android:name="com.it.ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
            <activity android:name="com.it.ui.activity.PasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
            <activity android:name="com.it.ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.it.ui.activity.UpdaateActivity"
            android:screenOrientation="portrait"
         ></activity>        
         <activity android:name="com.it.ui.activity.PublishedActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>  
          <activity android:name="com.it.ui.activity.PublishedNextActivity"
               android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
         ></activity> 
           <activity android:name="com.it.ui.activity.AuthenticateActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>  
          <activity android:name="com.it.ui.activity.ActivityKindOfPrecious"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
          <activity android:name="com.it.ui.activity.LevelActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
                 
          <activity android:name="com.it.ui.activity.ActivitySearch"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
          <activity android:name="com.it.ui.activity.ActivityFootPrint"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity> 
           <activity android:name="com.it.ui.activity.FavoriteArticlesActivity"
            android:screenOrientation="portrait"
         ></activity>    
          <activity android:name="com.it.ui.activity.IMListActivity"
            android:screenOrientation="portrait"
         ></activity>        
             <activity android:name="com.it.ui.activity.SystemInfoActivity"
            android:screenOrientation="portrait"
         ></activity>          
    </application>

     <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>
