<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingluo.Appraiser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
     <uses-permission  android:name="android.permission.CALL_PHONE" />
         <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
     <uses-permission android:name="android.permission.CAMERA"/>
       <uses-feature android:name="android.hardware.camera" /> 
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" android:maxSdkVersion="19"/>
 
 
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.yingluo.Appraiser.app.ItApplication">
        
           <meta-data
              android:name="RONG_CLOUD_APP_KEY"
              android:value="kj7swf8o7c8v2">
               
           </meta-data>
              <meta-data
            android:name="UMENG_APPKEY"
            android:value="555f253b67e58eb1c80021d6" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity android:name=".ui.activity.GuidePageActivity"
            android:screenOrientation="portrait"
            >
                      <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       
        </activity>
        
        <activity android:name=".ui.activity.LoginAcitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
  
        </activity>
        
        <activity android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name=".ui.activity.ForgotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
         <activity android:name=".ui.activity.InformationDetailsActivity"
              android:screenOrientation="portrait"
             ></activity>
           <activity android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
            <activity android:name=".ui.activity.PasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
            <activity android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".ui.activity.UpdaateActivity"
            android:screenOrientation="portrait"
         ></activity>        
         <activity android:name=".ui.activity.PublishedActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>  
          <activity android:name=".ui.activity.PublishedNextActivity"
               android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
         ></activity> 
           <activity android:name=".ui.activity.AuthenticateActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>  
          <activity android:name=".ui.activity.ActivityKindOfPrecious"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
          <activity android:name=".ui.activity.LevelActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
                 
          <activity android:name=".ui.activity.ActivitySearch"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity>              
          <activity android:name=".ui.activity.ActivityHotIdentiy"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity> 
           <activity android:name=".ui.activity.FavoriteArticlesActivity"
            android:screenOrientation="portrait"
         ></activity>                 
          <activity android:name=".ui.activity.ActivityFootPrint"
            android:screenOrientation="portrait"
         ></activity>                  
          <activity android:name=".ui.activity.ActivityUserDelails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
         ></activity>  
	   <activity android:name=".ui.activity.SystemInfoActivity"
            android:screenOrientation="portrait"
         ></activity>                  
	   <activity android:name=".ui.activity.ActivityMyPrecious"
            android:screenOrientation="portrait"
         ></activity>                  
	   <activity android:name=".ui.activity.ActivityIdentifyByMe"
            android:screenOrientation="portrait"
         ></activity>    
          <activity android:name=".ui.activity.GetUserLogoActivity"
            android:screenOrientation="portrait"
         ></activity> 
                  <activity android:name=".ui.activity.AttestAgencyActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity> 
             <activity android:name=".ui.activity.AttestPersionalActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden"
         ></activity> 
         
             <activity android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
         ></activity>   
         <service android:name=".ui.server.HomeService"></service>     
         
         
         
          <activity android:name=".ui.activity.IMListActivity"
            android:screenOrientation="portrait"
             android:launchMode="singleTask"
         >
           <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

          		 <data
                    android:host="com.yingluo.Appraiser"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
              
          </activity>  
         
          <activity 
             	 android:name=".ui.activity.ConversationActivity"
                android:screenOrientation="portrait"
                 android:launchMode="singleTask"
              >
               <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

          		 <data
                    android:host="com.yingluo.Appraiser"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
          </activity>
         
         <!-- 聊天 -->
            <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yingluo.Appraiser"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yingluo.Appraiser"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />


        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:screenOrientation="portrait" />
           <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc"></service>
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
    </application>

     <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>
